body {
    padding: 0px !important;
    margin: 0px;
}   
.nav {
    padding: 12px 0px;
    background: #1e118d;
}

.nav ul {
    text-align: center;
    list-style: none;
    padding: 0px;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0px 14px;
}
.row.login {
    max-width: 400px;
    padding: 28px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #d7d7d7;
    margin-top: 40px;
}
label.form-label {
    font-size: 14px;
    padding-bottom: 5px;
    display: inline-block;
} 
.input-box input {
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #adadad;
}
button.btn.btn-primary {
    font-size: 13px;
    padding: 9px 24px;
    background: #1e118d;
    color: #fff;
    border: none;
    border-radius: 4px;
}
h3.heading {
    margin: 0px;
    font-family: sans-serif;
}
.input-box {
    padding-bottom: 20px;
}
.style-table {
    border-collapse: collapse;
    width: 80%;
  }
  
  .style-table td, .style-table th {
    border: 1px solid #ddd;
    padding: 8px 15px;
}   
  
  .style-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .style-table tr:hover {background-color: #ddd;}
  
  .style-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1f198d;  
    color: white;
  }
[scope="row"]{

    display: none;
}
thead tr th:first-child{
    display: none;
}
.btn-outline-primary {
    padding: 4px 12px;
    border: none;
    color: #fff;
    margin-right: 4px;
    background: green;
}
.btn-delete {
    padding: 4px 12px;
    border: none;
    color: #fff;
    margin-right: 4px;
    background: red;
}
.style-table {
    padding-bottom: 80px;
    margin: auto;
}
.row {
    margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {
    .row {
        width: 100%;
        overflow: scroll;
    }
    .btn-outline-primary {
        margin-bottom: 4px;

    }
    .nav ul li {
        margin-bottom: 16px;
    }

.nav ul {
    margin-bottom: 0px;
}

  }